

   <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group">
          <input type="text" formControlName="name" id="name" class="form-control" name="name">
        </div>
      </div>
      <div *ngIf="editForm.controls['name'].invalid && (editForm.controls['name'].dirty || editForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="editForm.controls['name'].errors.required">
        Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Year of employment</label>
        <div class="input-group">
          <input type="number" formControlName="yearOfEmployment" id="yearOfEmployment" class="form-control" name="yearOfEmployment">
        </div>
      </div>
      <div *ngIf="editForm.controls['yearOfEmployment'].invalid && (editForm.controls['yearOfEmployment'].dirty || editForm.controls['yearOfEmployment'].touched)" class="alert alert-danger">
        <div *ngIf="editForm.controls['yearOfEmployment'].errors.required">
          Year Of Employment is required.
        </div>
      </div>
      <div class="form-group">
        <label for="chargedHours">Charged Hours</label>
        <div class="input-group">
            <input type="number" formControlName="chargedHours" id="chargedHours" class="form-control" name="chargedHours">
        </div>
      </div>
      <div *ngIf="editForm.controls['chargedHours'].invalid && (editForm.controls['chargedHours'].dirty || editForm.controls['chargedHours'].touched)" class="alert alert-danger">
        <div *ngIf="editForm.controls['chargedHours'].errors.required">
          Charged Hours is required.
        </div>
      </div>
      <div *ngIf="editForm.controls['chargedHours'].hasError('min')" class="alert alert-danger">
        Charged hours should be minimum 1
     </div>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()" style="margin-right:20px;">Close</button>
      <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Update</button>
    </form>
  </div>
  